<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uni.rostock.de.bacnetitmobileauthenticator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bacnet_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bacnet_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BACnetIntentService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".StatusActivity" />
        <activity android:name=".CameraActivity" />
    </application>

</manifest>